@media screen and (max-aspect-ratio: 1/1) {
  #john-container{
    order: 1;
    flex: 1;
  }
  #presentation-container{
    order: 2;
    flex: 2;
  }
  #skill-container{
    order: 3;
    flex: 2;
  }
  #main-page{
    height: 200vh;
    flex-direction: column;
    justify-content: flex-start !important;
  }
  #johnpic{
    max-width: 60%;
  }
  .intro {
    font-size: 2em;
  }
  .skills{
    width: 100% !important;
    padding: 5% 5% !important;
  }
  .skills h2{
    margin-top: 2% !important ;
  }

  p{
    font-size: 2em !important;
  }
  li{
    font-size: 2em !important;
  }
  h2{
    font-size: 3em;
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Montserrat', sans-serif;
  color: #E3E3E3;
  background-color: #00072D;
  margin: 0px;
}
h1{
  font-weight: normal;
  font-size: 2em;
  text-align: center;
}

.section-block{
  display: flex;
  width: 100%;
  height: 100vh;
}
.intro{
  display: flex;
  padding: 5% 15%;
  margin: 20vh auto;
  text-align: left;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: 2 1 auto;
  justify-content: space-evenly;
}
.intro p{
  font-size: 2em;
  padding: 0 10%;
  align-self: center;
  font-weight:100;
  flex: 1;
  margin: 0 auto;
}
.orange{
  color: #FFA71A;
}
.name{
  text-transform: capitalize;
}
.skills{
  padding-top: 5%;
  padding-bottom: 5%;
  width: 25%;
}
#about-me p{
  padding-top: 5%;
  font-size: 1em;
  overflow: auto;
}
#about-me span{
  margin-bottom: 1em;
}
#my-skills ul{
  padding-left: 5%;
  list-style-position: outside;
  list-style: none;
}
#my-skills li{
  padding-top: 5%;
  text-indent: -1em;
  font-size: 1em;
}
#my-skills li:before {
  content: "//";
  padding-right: 6px;
  color: #FFA71A;
}
.skills figure{
  display: flex;
  overflow: hidden;
  justify-content: center;
}
.skills figure img{
  width: 100%;
  border-radius: 50%;
}
.skills h2{
  margin-top: 15%;
}
#icon-links{
  display: flex;
  height: 15%;
  justify-content: space-between;
}
#icon-links{
  justify-content: space-around;
}
#icon-links figure{
  display: flex;
  flex: 1;
  justify-content: space-around;
}
#icon-links img{
  height: 100%;
  border-radius: 50%;
  width: auto;
  overflow: hidden;
  filter: invert(100);
}
#welcome-page{
  background-color: #00072D;
  background-image: radial-gradient(#284B63, #00072D);
}
#main-page{
  background-color: #284B63;
  background-image: radial-gradient(#284B63, #00072D);
  justify-content: space-around;
}
#welcome-button{
  text-align: center;
  font-size: 1em;
  padding: 3px 80px;
  color: #00072D;
  background-color: #FFA71A;
  border: 2px solid #FFA71A;
  border-radius: 25px;
  flex: 1;

}
#welcome-button:hover{
  background-image: radial-gradient(#ffaa21, #FFA71A);
  color: #E3E3E3;
  box-shadow: 0px 0px 0px 0px #00072D;
}
a{
  color: #E3E3E3;
  text-decoration: none;
}
