#COLORS{
  richblack:#00072D;
  platinum:#E3E3E3;
  dark slate grey: #284B63;
  light french beige:#CBBF7A;
  sunny:#EDF67D;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Montserrat', sans-serif;
  color: #E3E3E3;
  background-color: #00072D;
  margin: 0px;
}
h1{
  font-weight: normal;
  font-size: 3em;
}
a{
  color: #E3E3E3;
  text-decoration: none;
}
a:visited{
  color: #E3E3E3;
  text-decoration: none;
}
a:hover{
  color: #EDF67D;
  text-decoration: underline;
}
.section-block{
  display: flex;
  width: 100vw;
  height: 100vh;
}
.photoblock{
  max-width: 33.33%;
  overflow: hidden;
}
.right-block{
  flex: 1;
  text-align: center;
}
.centerblock{
  min-height: 40vh;
  max-height: 40vh;
}
#johnpic{
  max-height: 100vh;
}
#sectionA{
  background-color: #00072D;
}
#sectionB{
  background-color: #284B63;
}
#welcome-box{
}
